
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">

@await Component.InvokeAsync("_HeaderUILayoutComponentPartial")


<body>
    <!-- Topbar Start -->
    @await Component.InvokeAsync("_TopbarUILayoutComponentPartial")
    <!-- Topbar End -->
    <!-- Navbar Start -->
    @await Component.InvokeAsync("_NavbarUILayoutComponentPartial")
    <!-- Navbar End -->
    <!-- Breadcrumb Start -->
    @RenderBody()
    <!-- Breadcrumb End -->
    <!-- Footer Start -->
    @await Component.InvokeAsync("_FooterUILayoutComponentPartial")
    <!-- Footer End -->
    <!-- Back to Top -->
    @await Component.InvokeAsync("_ScriptUILayoutComponentPartial")
</body>

</html>
