@model List<ResultProductDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-header">
                        <h3 class="card-title">Ürün İşlemleri</h3>
                    </div> <!-- /.card-header -->
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Ürün Adı</th>
                                    <th>Ürün Fiyatı</th>
                                    <th>Ürün Açıklaması</th>
                                    <th style="width: 100px">Güncelle</th>
                                    <th style="width: 100px">Sil</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr class="align-middle">
                                        <td>@count</td>
                                        <td>@item.ProductName</td>
                                        <td>@item.ProductPrice</td>
                                        <td>@item.ProductDescription</td>
                                        <td><a href="/Admin/Product/UpdateProduct/@item.ProductId" class=" btn btn-success w-40">Güncelle</a></td>
                                        <td><a href="/Admin/Product/DeleteProduct/@item.ProductId" class=" btn btn-danger w-40">Sil</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="mt-4">
                            <a href="/Admin/Product/CreateProduct/" class=" btn btn-primary">Yeni Ürün Ekle</a>
                        </div>
                    </div> <!-- /.card-body -->
                </div> <!-- /.card -->
            </div> <!-- /.col -->
        </div>
        <!--end::Row-->
    </div>
    <!--end::Container-->
</div>

